body {
    font-family: Arial, sans-serif;
    background-color: darkslategrey;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.container {
    width: 520px;
    height: auto;
    min-height: 100;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(6, 8, 63, 0.1);
    background-color: #3baea0;
}
.block {
    margin-bottom: 20px;
}
.title {
    font-weight: bold;
    margin-bottom: 10px; 
    line-height: 0.5;
    color:#000000;
    text-align: left;
                                                                        
}
input[type=text] {
    width: 90%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    background-color: #f5f5dc;
    color: #000000;
    
}
.submit-button {
    text-align: center;
}
input[type=button] {
    width: 120 px;
    font-size: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1f6f78;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    

}
input[type=button]:hover {
    background-color: #93e4c1;
    
}